{{!-- The following component displays Ember's default welcome message. --}}
<h2 id="title" style="text-align: center">
    <a href="/posts" style="color:#ffffff">Subha Ember Blog</a>
</h2>
{{!-- Feel free to remove this! --}}

{{outlet}}